.nav-link.active {
  background-color: #e0e0e0;
  border-color: black black #fff;
}
.nav-link{
  border-color: black black #fff;
  border-top-right-radius: 0.6rem;
  border-top-left-radius: 0.6rem;
}
a{
  color: black
}
table{
  width: 40%;
  margin: 10px auto;
}
th,
td{
  width: 50%;
}





